
@{
    ViewBag.Title = "Cadastro";
}

h3 class="mt-20">Cadastro de Categorias</h3>
<div class="row">
    <a href="/cidade/index" class="btn btn-primary float-left mb-3 ">
        Lista de Cidades
    </a>
</div>
<div class="row">
    <form action="/cidade/store" method="post">
        <div class="form-group">
            <label for="campo-nome" class="col-12 pl-0 text-md">Nome</label>
            <input type="text" class="form-control" name="nome" id="campo-nome" />
        </div>

        <div class="form-group">
            <label for="campo-numero-habitantes" class="col-12 pl-0 text-md">Número de Habitantes</label>
            <input type="text" name="numeroHabitantes" class="form-control" id="campo-numero-habitantes" />
        </div>

        <div class="form-group">
            <label form="campo-estado">Estado</label>
            <select class="form-control" name="estado">
                <option disabled="disabled" selected="selected">Selecione um  estado</option>
                @foreach (Model.Estado estado in ViewBag.Estados)
                {
                    <option value="@estado.Id">@estado.Nome</option>
                }
            </select>
        </div>

        <button class="btn btn-success mt-3" type="submit">Salvar</button>
    </form>
</div>

