
@{
    ViewBag.Title = "Editar";
}
<h3 class="mt-20">Editor de Categorias</h3>

<div class="row">
    <a href="/categoria/index" class="btn btn-primary float-left mb-3 ">
        Lista de Categorias
    </a>
</div>
<div class="row">
    <form method="post" action="/categoria/update">
        <div class="form-group">
            <input type="hidden" name="id" class="form-control" value="@ViewBag.Categorias.Id" />
        </div>
        <div class="form-group">
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="campo-nome" value="@ViewBag.Categorias.Nome" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>